/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/QueueMart_real.zip

/public/upload
/public/video
/public/photos/
/public/images
/public/image_upload
